* {
	padding: 0;
	margin: 0;
}

html,body {
	width: 100%;
	height: 100%;
	display: flex;
	background-image: url(bg3.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}

.container {
	display: flex;
	margin: auto;
	width: 800px;
	height: 400px;
	box-shadow: 4px 4px 4px #035025;
}

.login {
	order: 1;
	width: 300px;
	background-color: #eaeaea;
	text-align: center;
}

.header h1{
	margin-top: 50px;
	margin-bottom: 5px;
	color: #014670;
	font-size: 35px;
}

.main input,button {
	width: 80%;
	height: 35px;
	margin-top: 25px;
	padding-left: 8px;
	box-sizing: border-box;
	outline: none;
	border:1px solid #014670;
	color: #014670;

}

.main p{
	color: red;
}

.main button {
	padding: 0;
	font-size: 15px;
	background-color: white;
}

.main button:hover, input:hover {
	box-shadow: 3px 3px 3px rgba(1, 112, 34, 0.5);
}



.img {
	display: flex;
	order: 2;
	flex-grow: 2;
	background-image: url(bg3.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
	color: #eee;
}

.img span {
	margin: auto;
}

.img span h1 {
	font-size: 50px;
	text-shadow: 0 0 10px #014670;
	
}

.img span p {
	font-size: 20px;
	text-shadow: 0 0 10px #014670;
}



